<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Numerology App</title>
</head>
	<body>
		<%= yield %>
	</body>
</html>

<!-- I wrote different layout html but it failed the test. So I c/p the answer layout and it worked. So I guess it has to be an exact copy of test to work
